{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-services-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<!-- <div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  
      <div class="service service-single">
        <h1 class="title" id="services-title">{{.Title}}</h1>
        <div class="content" id="services-content">{{.Content}}</div>
            <ul id="og-grid" class="og-grid">
                <div class="row justify-content-start">
                  {{ range $.Site.Data.services.op_hop_kim_nhom.items }}
                  <div class="col-12 col-md-5 col-lg-3 order-1 order-md-2 position-relative">
                    <li>
                      <a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{.description }}" data-buttontext="{{.buttontext}}">
                        <img src="{{.thumb}}" alt="{{.alt}}"/>
                      </a>
                    </li>
                  </div>
                  {{ end }}
                </div>
              </ul>
      </div>
  
</div> -->
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/component.css" />
<script src="{{ .Site.BaseURL }}js/modernizr.custom.js"></script>
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
      <div class="service service-single">
        <h1 class="title" id="services-title">{{.Title}}</h1>
        <div class="content" id="services-content">{{.Content}}</div>
        <ul id="og-grid" class="og-grid">
            {{ range $.Site.Data.services }}
              {{ if eq .description $.Params.image_path }}
                {{ range .items }}
                <li>
                  <a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{.description}}" data-buttontext="{{.buttontext}}">
                    <img src="{{.thumb}}" alt="{{.alt}}"/>
                  </a>
                </li>
                {{ end }}
              {{ end }}
            {{ end }}
          </ul>
      </div>
  
</div>
<!-- {{ partial "scripts.html" . }} -->

<!-- <div class="container">	
  <div class="main">
    <ul id="og-grid" class="og-grid">
      {{ range $.Site.Data.services.op_hop_kim_nhom.items }}
      <li>
        <a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{.description }}" data-buttontext="{{.buttontext}}">
          <img src="{{.thumb}}" alt="{{.alt}}"/>
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</div> -->

<!-- <div class="intro">
    <div class="container">
      <div class="row justify-content-start">
        <h1 class="title">{{.Title}}</h1>
        <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
          <div class="content">{{.Content}}</div>
        </div>
        <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
            <ul id="og-grid" class="og-grid">
                {{ range $.Site.Data.services.op_hop_kim_nhom.items }}
                <li>
                  <a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{.description }}" data-buttontext="{{.buttontext}}">
                    <img src="{{.thumb}}" alt="{{.alt}}"/>
                  </a>
                </li>
                {{ end }}
              </ul>
        </div>
      </div>
    </div>
</div> -->
<!-- {{ partial "scripts.html" . }} -->
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}