<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body class='page {{ block "body_classes" . }}{{ end }}'>
        {{- partial "preloader.html" . -}}
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{ partial "footer.html" . }}
        <!-- {{ partial "sub-footer.html" . }} -->
      
        {{ $scripts := resources.Get "js/scripts.js" }}
      
        {{ block "footer_js" . }}
        {{ end }}
    </body>
</html>