<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body class='page {{ block "body_classes" . }}{{ end }}'>
        {{- partial "preloader.html" . -}}
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{ partial "footer.html" . }}
        <!-- {{ partial "sub-footer.html" . }} -->
      
        {{ $scripts := resources.Get "js/scripts.js" }}
      
        {{ block "footer_js" . }}
        {{ end }}
        
        {{ if eq .RelPermalink "/" }}
            {{ $nivo_slider_slider_js := resources.Get "nivo-slider/jQuery/jquery.nivo.slider.js" }}
            <script type="text/javascript" src="{{ $nivo_slider_slider_js.RelPermalink }}"></script>
            <script type="text/javascript">
            $(window).load(function() {
                $('#slider').nivoSlider();
            });
            </script>
        {{ end }}
    </body>
</html>