<div class="call">
  <div class="call-box-top">
    <div class="call-phone"><strong>Số điện thoại: </strong> {{ .Site.Data.contact.phone }} </div>
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .Site.Data.contact.email }}">
        {{ .Site.Data.contact.email }}
      </a>
    </div>
    <div class="call-phone"><strong>Địa chỉ: </strong> {{ .Site.Data.contact.address }} </div>
  </div>
  {{ if eq .RelPermalink "/contact/" }}
  {{ else }}
  <div class="call-box-bottom">
      <a href="{{ .Site.BaseURL }}contact" class="button">Liên hệ</a>
  </div>
  {{ end }}
</div>