<header class="navigation">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{.Site.BaseURL}}">
      <svg width="160" height="36" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
        <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
        <g>
         <title>Layer 1</title>
         <g id="svg_5">
          <text fill="#ff7f00" stroke-width="0" x="37.625" y="26.0416" id="svg_2" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve" stroke="#000000" font-weight="bold">Asean</text>
          <text fill="#007f00" stroke-width="0" x="119.625" y="26.11192" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve" stroke="#000000" font-weight="bold" id="svg_4">Digital</text>
         </g>
        </g>
       </svg>
    </a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navogation"
      aria-controls="navogation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navogation">
        <!-- <div id="main-menu" class="main-menu"> -->
      <ul class="navbar-nav ml-auto">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link text-uppercase text-dark dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{ .Name }}
            </a>
            <div class="dropdown-menu" >
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link text-uppercase {{ if eq $currentPage.RelPermalink .URL }}active {{ end }}" href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
          <!-- <li class="nav-link menu-item-{{ .Name | lower }}{{ if eq $currentPage.URL .URL }} active{{ end }}">
              <a href="{{.URL}}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
            </li> -->
          {{ end }}
        {{ end }}
      </ul>
      <!-- </div> -->
      {{ if .Site.Params.search.enable }}
      {{ "<!-- search -->" | safeHTML }}
      <form class="form-inline position-relative ml-lg-4" action="{{ .Site.BaseURL }}/search">
        <input class="form-control px-0 w-100" type="search" placeholder="Tìm kiếm" id="search-query" name="s">
        <button class="search-icon" type="submit"><i class="ti-search text-dark"></i></button>
      </form>
      {{ end }}
    </div>
  </nav>
</header>