{{ if .Params.isGridView }}
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/default.css" />
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/component.css" />
<script src="{{ .Site.BaseURL }}js/modernizr.custom.js"></script>
{{ end }}

<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ .Site.BaseURL }}"><img alt="Figurit Homepage" src="{{ .Site.BaseURL }}images/logo.svg" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ .Site.BaseURL }}"><img alt="Figurit Homepage" src="{{ .Site.BaseURL }}images/logo-mobile.svg" /></a>
    </div>
    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>