<!-- {{ if .Site.Params.instafeed.enable }} -->
<!-- instagram -->
<!-- <section>
  <div class="container-fluid px-0">
    <div class="row no-gutters instagram-slider" id="instafeed" data-userId="{{.Site.Params.instafeed.userID}}"
      data-accessToken="{{.Site.Params.instafeed.accessToken}}"></div>
      {{ range $.Site.Data.items.items }}

      {{ end }}
  </div>
</section> -->
<section>
    <div class="container-fluid p-sm-0">
      <div class="row featured-post-slider">
        {{ range $.Site.Data.items.items }}
        <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
          <article class="card bg-dark text-center text-white border-0 rounded-0">
            <img class="card-img rounded-0 img-fluid w-100" src="{{.image}}" alt="post-thumb">
            <!-- <div class="card-img-overlay">
              <div class="card-content">
                <p class="text-uppercase">{{.Params.Categories}}</p>
                <h4 class="card-title mb-4"><a class="text-white" href="{{.Permalink}}">{{.Title}}</a></h4>
                <a class="btn btn-outline-light" href="{{.Permalink}}">read more</a>
              </div>
            </div> -->
          </article>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
<!-- /instagram -->
<!-- {{ end }} -->