
    <div id="wrapper">
        <!-- <a href="http://dev7studios.com" id="dev7link" title="Go to dev7studios">dev7studios</a> -->
        {{ $nivo_slider_style_default := resources.Get "nivo-slider/css/default/default.css"}}
        <link rel="stylesheet" href="{{ $nivo_slider_style_default.Permalink }}" type="text/css" media="screen">
        {{ $nivo_slider_style_light := resources.Get "nivo-slider/css/light/light.css"}}
        <link rel="stylesheet" href="{{ $nivo_slider_style_light.Permalink }}" type="text/css" media="screen">
        {{ $nivo_slider_style_dark := resources.Get "nivo-slider/css/dark/dark.css"}}
        <link rel="stylesheet" href="{{ $nivo_slider_style_dark.Permalink }}" type="text/css" media="screen">
        {{ $nivo_slider_style_bar := resources.Get "nivo-slider/css/bar/bar.css"}}
        <link rel="stylesheet" href="{{ $nivo_slider_style_bar.Permalink }}" type="text/css" media="screen">
        {{ $nivo_slider_style := resources.Get "nivo-slider/css/nivo-slider.css"}}
        <link rel="stylesheet" href="{{ $nivo_slider_style.Permalink }}" type="text/css" media="screen">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <!-- <img src="images/toystory.jpg" data-thumb="images/toystory.jpg" alt="" />
                <a href="http://dev7studios.com"><img src="images/up.jpg" data-thumb="images/up.jpg" alt="" title="This is an example of a caption" /></a>
                <img src="images/walle.jpg" data-thumb="images/walle.jpg" alt="" data-transition="slideInLeft" />
                <img src="images/nemo.jpg" data-thumb="images/nemo.jpg" alt="" title="#htmlcaption" /> -->
                {{ range $.Site.Data.items.items }}
                <!-- <p>{{.image}}</p> -->
                    <a href="{{ .Site.BaseURL }}services"><img src="{{.image}}" data-thumb="{{.image}}" alt="" /></a>
                {{ end }}
            </div>
            <!-- <div id="htmlcaption" class="nivo-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
            </div> -->
        </div>

    </div>
    <!-- <script type="text/javascript" src="scripts/jquery-1.9.0.min.js"></script> -->
    <!-- {{ $jquery := resources.Get "nivo-slider/jQuery/jquery-1.9.0.min.js" }} -->
    <!-- <p>{{$jquery.Permalink}}</p> -->
    <!-- <script type="text/javascript" src="{{ $jquery.RelPermalink }}"></script> -->

    