{{ define "main" }}

  {{ if .Site.Params.homeLayoutToggle }}
  <!-- call -->
  <div class="intro">
      <div class="container">
        <div class="row justify-content-start">
          <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
            {{ .Content }}
            {{ partial "call.html" . }}
          </div>
          <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
            <img class="intro-image-flying" src="{{ .Params.intro_image | relURL }}" />
          </div>
        </div>
      </div>
    </div>
  <!-- /call -->


  <!-- blog post -->
  {{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
    {{if gt (len $services) 0}}
      <div class="container pt-6 pb-md-5">
        <div class="row justify-content-start">
          {{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
          {{ range first 6 (sort $services ".Params.weight") }}
            <div class="col-12 col-md-4 mb-1">
              {{ .Render "summary" }}
            </div>
          {{ end }}
          <div class="col-12 text-center">
            <a class="button button-primary" href="{{ .Site.BaseURL }}services">Xem toàn bộ danh mục</a>
          </div>
        </div>
      </div>
{{end}}
  <!-- /blog post -->

  <!-- featured post -->
  <!-- <section>
    <div class="container-fluid p-sm-0">
      <div class="row featured-post-slider">
        {{ range (where .Data.Pages "Type" "featured")}}
        <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
          <article class="card bg-dark text-center text-white border-0 rounded-0">
            <img class="card-img rounded-0 img-fluid w-100" src="{{.Params.Image | absURL}}" alt="post-thumb">
            <div class="card-img-overlay">
              <div class="card-content">
                <p class="text-uppercase">{{.Params.Categories}}</p>
                <h4 class="card-title mb-4"><a class="text-white" href="{{.Permalink}}">{{.Title}}</a></h4>
                <a class="btn btn-outline-light" href="{{.Permalink}}">read more</a>
              </div>
            </div>
          </article>
        </div>
        {{ end }}
      </div>
    </div>
  </section> -->
  <section>
      <!-- <div class="strip strip-grey"> -->
          <div class="container pt-6 pb-6 pt-md-12 pb-md-12">
            <div class="row justify-content-center">
      <div class="container-fluid p-sm-0">
        <div class="row featured-post-slider">
          {{ range $.Site.Data.items.items }}
          <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
            <article class="card bg-dark text-center text-white border-0 rounded-0">
              <a href="{{ .Site.BaseURL }}services"><img class="card-img rounded-0 img-fluid w-100" src="{{.image}}" alt="main-items"></a>
              <!-- <div class="card-img-overlay">
                <div class="card-content">
                  <p class="text-uppercase">{{.Params.Categories}}</p>
                  <h4 class="card-title mb-4"><a class="text-white" href="{{.Permalink}}">{{.Title}}</a></h4>
                  <a class="btn btn-outline-light" href="{{.Permalink}}">read more</a>
                </div>
              </div> -->
            </article>
          </div>
          {{ end }}
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
    </section>
  <!-- /featured post -->

  {{ else }}


  <!-- hero area -->
  <!-- <section class="hero-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-end">
          <h1 class="mb-0">Welcome</h1>
          <h2 class="mb-100 title-border-lg">to <i>{{.Site.Params.author}} Blog</i></h2>
          <p class="mb-80 mr-5">{{.Site.Params.shortDescription | markdownify }}</p>
          <span class="font-secondary text-dark mr-3 mr-sm-5">Follow</span>
          <ul class="list-inline d-inline-block mb-5">
            {{ range .Site.Params.social }}
            <li class="list-inline-item mx-3"><a href="{{.URL}}" class="text-dark"><i class="{{.icon}}"></i></a></li>
            {{ end }}
          </ul>
        </div>
        <div class="col-lg-6 text-right">
          <img class="img-fluid" src="{{.Site.Params.authorImage | absURL}}" alt="banner-image">
        </div>
      </div>
    </div>
  </section> -->
  <!-- /hero area -->

  <!-- blog post -->
  <section class="section">
    <div class="container">
      <div class="row">
        {{ range $i,$p := .Data.Pages }}
        <div class="col-12 mb-100">
          <article data-file="{{.Permalink}}" data-target="article"
            class="article-full-width {{if not (modBool $i 2)}} article-right {{ end }}">
            <div class="post-image">
              <img class="img-fluid" src="{{ .Params.Image | absURL }}" alt="post-thumb">
            </div>
            <div class="post-content">
              <ul class="list-inline d-flex justify-content-between border-bottom post-meta pb-2 mb-4">
                <li class="list-inline-item"><i class="ti-calendar mr-2"></i>{{ .PublishDate.Format "Jan 02, 2006" }}</li>
                <li class="list-inline-item"><i class="ti-alarm-clock mr-2"></i><span class="eta"></span> read</li>
              </ul>
              <h4 class="mb-4"><a href="{{.Permalink}}" class="text-dark">{{ .Title }}</a></h4>
              <p class="mb-0 post-summary">{{.Summary }}</p>
              <a class="btn btn-transparent mb-4" href="{{.Permalink}}">Continue...</a>
            </div>
          </article>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /blog post -->

  {{ end }}

  <!-- {{partial "instafeed.html" . }} -->

{{ end }}

{{ define "footer_js" }}
{{ end }}